[Desktop Entry]
Type=Application
Name=RAM Notifier
Comment=Configure the RAM alert threshold
Exec=__BINDIR__/ramnotifier-settings
Icon=ramnotifier
Terminal=false
StartupWMClass=ramnotifier-zenity
StartupNotify=true
Categories=Settings;System;
