[Desktop Entry]
Type=Application
Name=RAM Notifier Settings
Comment=Configure the RAM alert threshold
Exec=__BINDIR__/ram-monitor-settings
Icon=ram-monitor
Terminal=false
StartupWMClass=ram-notifier-settings
StartupNotify=true
Categories=Settings;System;
